/*This will serve as our css style sheet. Right now there is alot unused code because this is a reused file from.*/
body {
	background-color: #e7e7e7;
	color: #221811;}

nav {
	font-weight: bold;
	text-align: center;
	font-size: 18px;
	background-color: rgba(181, 246, 227, 0.54)}

nav a {text-decoration: none}
nav a:link { color: blue;}
nav a:visited { color: darkcyan;}
nav a:hover { color: green;}

h1 {background-color: rgba(179, 242, 255, 0.52);
	text-align: center;
	margin-top: -10px;
	margin-bottom: 0;}

p,h2,h3,h4 {
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;}

/*#about_us_content {*/
/*	text-align: center;*/
/*	padding-left: 15%;*/
/*	padding-right: 15%;*/
/*	padding-top: 2em;*/
/*	font-size: 18px;*/
/*	margin: auto;}*/

/*#home_text {*/
/*	text-align: center;*/
/*	font-size: 20px;*/
/*	margin: auto}*/

/*#portfolio_content {*/
/*	text-align: center;*/
/*	padding-left: 15%;*/
/*	padding-right: 15%;*/
/*	padding-top: 2em;*/
/*	font-size: 17px;*/
/*	margin: auto}*/

#wrapper {
	margin-right: auto;
	margin-left: auto;
	min-width: 1280px;
	min-height: 720px;
	font-size: 20px}


#ProductName, #ProductPrice, #ProductID, #ProductStock,name,price,department,quantity{
	text-align: center;
	font-size: 30px;
	margin-bottom: 1em;}
#product_name, #product_price, #product_id, #product_stock{
	font-size: 30px;
	width: 300px;
	height: 30px;}



/*.center_home {*/
/*	display: block;*/
/*	margin-left: auto;*/
/*	margin-right: auto;*/
/*	width: 50%;*/
/*	padding-bottom: 1em;}*/

/*.center_portfolio {*/
/*	display: block;*/
/*	margin-left: auto;*/
/*	margin-right: auto;*/
/*	padding-bottom: 3em;*/
/*	max-height: 480px;*/
/*	width: 65%}*/

.italic {font-style: italic}
