body {
	background-color: #e7e7e7;
	color: #221811;}

nav {
	font-weight: bold;
	text-align: center;
	font-size: 22px;
	margin-bottom: 0em;
	background-color: rgba(181, 246, 227, 0.54)}

nav a {text-decoration: none}
nav a:link { color: blue;}
nav a:visited { color: darkcyan;}
nav a:hover { color: green;}


h1 {background-color: rgba(179, 242, 255, 0.52);
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;}


p,h2,h3,h4 {
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;}


/*General format for every page.*/
#wrapper {
	min-width: 1280px;
	min-height: 720px;
	font-size: 20px}

#page_label{
	font-weight: bold;
	font-size: 30px;
	background-color: pink;
}

/*This effects the input boxes for the add_product page.*/
#name,#price,#department,#quantity,#sku,#add_product, #signup_form
, #login_form, #email, #firstName, #lastName, #password1, #password2{
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	font-size: 25px;
	margin-bottom: 10px;
	width: 350px;
	height: 40px;}


/*This effects the input boxes for the add_product page. Slightly fixes the size of two of the boxes*/
#submit_product,#department, #submit_login, #submit_signup{
	text-align: center;
	font-size: 25px;
	width: 358px;
	height: 46px;}


/*This effects the input boxes label's for the add_product page.*/
#name_label, #price_label, #department_label, #quantity_label, #sku_label
, #email_label, #firstName_label, #lastName_label, #password1_label, #password2_label, #password_label{
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-bottom: 5px}

#add_product{
	margin-top: 10px;}

/*This effects the top search bar.*/
#search {
	background-color: rgba(181, 246, 227, 0.54)}

#search_result{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 30px;}

#sort_form {
    display: flex;
    justify-content: center;
    align-items: center;
	margin-top: 0px;
    margin-bottom: 10px;}

#sort_form label,select,button {
    margin-right: 0.5em;}

#flash_msg{
	display: flex;
	justify-content: center;
    align-items: center;
	text-align: center;
}

.italic {font-style: italic}
