<!--This file extends off the home page template and can be populated with different elements.-->
{% extends "index.html" %}
{% block title %}Edit Product Page{% endblock %}
{% block label %}Edit Product{% endblock %}
{% block content %}
    <form id= "add_product" action="{{ url_for('views.inventory_edit') }}" method="POST">

        <label for="sku" id="sku_label">Enter SKU of Existing Item:</label>
        <input type="sku" id="sku" name="sku" placeholder="SKU REQUIRED" style="text-align: center;" required>

        <label for="name" id="name_label">Enter New Product Name</label>
        <input type="text" id="name" name="name">

        <label for="price" id="price_label">Enter New Price:</label>
        <input type="number" id="price" name="price" step="0.01" min="0">

        <label for="department" id="department_label">Department</label>
        <select id="department" name="department">
            {% for dept in departments %}
                <option value="{{ dept }}">{{ dept }}</option>
            {% endfor %}
        </select>

        <label for="quantity" id="quantity_label">Enter New Quantity:</label>
        <input type="number" id="quantity" name="quantity" min="0">

        <button id="submit_product">Edit Product</button>
    </form>
</script>
{% endblock %}