<!--This is the home page and template for the webpages.-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>{% block title %}Home Page{% endblock %}</title>
</head>
<body>
    
<div id="wrapper">
    <Header>
        <h1>
            Inventory Management
        </h1>
    </Header>
    <nav>
        <a href="{{ url_for('views.home')}}">Home Page</a><br>
        <a href="{{ url_for('views.profile_page')}}">Profile Page</a><br>
        <a href="{{ url_for('views.product_add')}}">Add New Product</a><br>
        <a href="{{ url_for('views.inventory_page')}}">View Inventory</a><br>
        <a href="{{ url_for('views.inventory_edit')}}"> Edit Inventory</a><br>
        <a onclick="saveAlert()" href="{{ url_for('views.inventory_save')}}">Click to Save Inventory</a><br>
    </nav>
    <div id="search">
        <form style="padding-top: 4px;padding-bottom: 4px; justify-content:center; display: flex;" action="/search" method="post" >
            <input type="text" name="search" placeholder="Enter Item name">
            <input type="submit" value="Search">
        </form>
    </div>
    <h1 id="page_label">{% block label %}Home Page{% endblock %}</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
            <h3 class="flash-message" style="text-align: center">{{ message }}</h3>
          {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}
<!--    Webpage content here-->
    {% endblock %}
</div>
<script type="text/javascript">
    function saveAlert(){
        alert("Inventory Changes Saved")
    }
</script>
</body>
</html>
