<!--This file extends off the index.html template and is populated with inventory page elements.-->
{% extends "index.html" %}
{% block title %}Inventory Page{% endblock %}
{% block label %}Inventory Page{% endblock %}
{% block content %}
<h3>Click on a SKU to copy it.</h3>
<form  id="sort_form" method="POST" action="{{ url_for('views.inventory_page') }}">
        <label for="sort_key">Sort by:</label>
        <select name="sort_key" id="sort_key">
            {% for option in sort_options %}
                <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
        <button type="submit">Sort</button>
    </form>
<div class="inventory_wrapper" style="text-align: left">
    <table id="inventory_table" style="margin: 0 auto">
        <tr>
            <th style="padding-right: 40px">Name:</th>
            <th style="text-align: right; padding-right: 0px">Price:</th>
            <th style="padding-left: 40px; padding-right: 40px">Department:</th>
            <th style="padding-right: 40px">SKU:</th>
            <th style="text-align: right; padding-right: 0px">Quantity:</th>
        </tr>
        {% for product in inventory %}
        <tr>
            <td style="padding-right: 40px; padding-bottom: 10px;">{{ product.name }}</td>
            <td style="text-align: right; padding-right: 0px; padding-bottom: 10px">{{ product.price }}</td>
            <td style="padding-right: 40px; padding-bottom: 10px; padding-left: 40px">{{ product.department }}</td>
            <td onclick="copyToClipboard('{{ product.sku }}')" style="padding-right: 40px; padding-bottom: 10px; text-decoration-line: underline; cursor: pointer">{{ product.sku }}</td>
            <td style="text-align: right; padding-right: 0px; padding-bottom: 10px">{{ product.quantity }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<!--The purpose of this script is for the "click to copy sku" feature on the inventory page.-->
<!--After tons of product edits I got tired of manually copying skus-->
<script>
    function copyToClipboard(sku) {
        const element = document.createElement('textarea');
        element.value = sku;
        document.body.appendChild(element);
        element.select();
        document.execCommand('copy');
        document.body.removeChild(element);
        alert("Copy Successful")
    }
</script>
{% endblock %}